
.noHeadline {
  opacity: 0;
}
.headline {
  font-size: 120px;
  font-weight: 900;
  font-family: var(---headlinefont);
  color: var(---basedark);
  opacity: 1 ;
  transition: opacity 1.5s ease-in-out 0.4s;
}