.projects {
  margin: 1rem;
  padding: 3rem 0 2rem;
  background-color: var(---basedark);
}

.projects h1 {
  margin: 1rem;
  text-align: center;
  font-size: 5.5rem;
  font-weight: 900;
  color: var(---light);
  letter-spacing: -2.5px;
}
.projects p {
  padding-top: 1rem ;
  color: var(---light);
}
.projects a {
  color: inherit;
  text-decoration: none;
}
.projects a :hover {
  color: var(---baselight);
}
.projectsIntro {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}
