.showProjects {
  height: 25rem;
}
.container {
  width: fit-content;
  margin: 0 auto;
}
.project {
  float: left;
  position: relative;
  max-width: 19rem;
  width: calc(25% - 40px);
  height: 19rem;
  margin: 0.6rem;
  border: 0.6rem solid var(---light);
  box-shadow: 1px 1px 2px #2f0a0a;
  text-align: center;
  cursor: default;
  background: #fff url('../media/trwsquare.png') no-repeat center center;
  overflow: hidden;
}
.project .mask,
.project .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 19rem;
  overflow: hidden;
}
.project img {
  display: block;
  height: 19rem;
}
.project h2 {
  position: relative;
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(---light);
}
.project p {
  position: relative;
  padding: 0.2rem;
  text-align: center;
  font-style: italic;
  font-size: 0.7rem;
  color: var(---light);
}
.project a.info {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(---light);
  text-transform: uppercase;
  color: var(---basedark);
  text-decoration: none;
  opacity: 0;
  transition: all 0.2s ease-in-out, color 0.1s ease-in;
}
.project a.info:hover {
  background-color: var(---baselight);
  color: var(---light);
}
.project img {
  transition: all 0.2s linear;
}
.project .mask {
  background-color: #000000ad;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.project h2 {
  transform: translateY(-6rem);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.project p {
  transform: translateY(0);
  opacity: 0;
  transition: all 0.2s linear;
}

.project:hover img {
  transform: scale(1.1);
}
.project:hover .mask {
  opacity: 1;
}
.project:hover h2,
.project:hover p,
.project:hover a.info {
  transform: translateY(0);
  opacity: 1;
}
.project:hover p {
  transition-delay: 0.2s;
}
.project:hover a.info {
  transition-delay: 0.2s;
}
