.codeSnippet {
  max-width: max-content;
  margin: 0 -2rem;
  border: 2px solid black;
  filter: drop-shadow(5px 5px 1px #4444);
}
.menuBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  background-color: var(---baselight);
  padding: 0.5rem 0.8rem 0.5rem 0.6rem;
  border-bottom: 2px solid black;

  color: var(---light);
}
.window {
  padding: 0.4rem 0.7rem;
  background-color: var(---light);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
.window p {
  margin: 0.8rem 0.2rem;
  background-color: var(---light);
}
.window a {
  text-decoration: none;
  color: var(---basedark);
}
.windowButtons {
  text-align: end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.colorOne {
  color: var(---lightdark);
}

.colorTwo,
.window a:hover {
  color: var(---baselight);
}

.colorThree,
.window a {
  color: var(---basedark);
}
.button {
  display: block;
  width: fit-content;
  margin: 1.5rem auto 1rem;
  padding: 0.5rem 1rem;
  border: 3px outset #5994c5;
  background-color: var(---lightdark);
}
.button:hover {
  background-color: #99c6ea;
}
