.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 5;
}

.navigation img {
  max-height: 3.75rem;
  margin: -1rem;
  padding: 0;
}

.noLogo {
  opacity: 0;
}

.logo {
  margin: 0.2rem 1rem;
  opacity: 1;
}

.mobileMenu {
  display: none;
}

@media (max-width: 768px) {
  .mobileMenu {
    display: block;
  }

  .menu {
    display: none;
  }
}
