.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(---baselight);
  background-image: radial-gradient(
    circle,
    var(---basedark) 1px,
    transparent 0
  );
  background-size: 1.5rem 1.5rem;
  z-index: 5;
}
.navigation img {
  max-height: 3.75rem;
  margin: -1rem;
  padding: 0;
}
